<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>500提示信息</title>
		<style>
		body{margin:0;padding:0;background:#F7F7F7;}
		p{width:50%;height:100px;line-height:100px;margin:0 auto;margin-top:150px;padding:0;font-family:"Microsoft Yahei", Verdana, Lucida, Helvetica, Arial, sans-serif;font-size:14px;color:#FFF;text-align:center;background:#6B789E;border-radius:10px;}
		</style>
	</head>
	<body>
		<p>数据表中没有符合的数据！ERR-NO:500</p>
	</body>
</html>