<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>天天捕鸟管理系统</title>
</head>
<frameset rows="84,*" frameborder="no" border="0" framespacing="0">
	<frame src="/top/" name="topFrame" frameborder="no" scrolling="no" noresize="noresize" />

	<frameset cols="200,*" id="frame">
		<frame src="/left/" name="leftFrame" marginwidth="0" marginheight="0" frameborder="0" scrolling="no" noresize="noresize" />
		<frame src="/index/" name="rightFrame" marginwidth="0" marginheight="0" frameborder="0" style="overflow:auto" />
	</frameset>
</frameset>
<noframes></noframes>
</html>
