<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>后台系统 - 右侧 - 欢迎界面</title>
        <link type="text/css" rel="stylesheet" href="/static/css/ht_style.css" />
		<link type="text/css" rel="stylesheet" href="/static/js/base.js" />
	</head>
	
	<body>
		<table width="100%" align="center" cellpadding="7" class="table">
			<tr>
				<td colspan="2" class="th"><span class="span_people">&nbsp;</span>欢迎登录后台管理中心</td>
			</tr>
			<tr bgcolor="#FFFFFF">
				<td width="15%">用户ID</td>
				<td width="85%">1</td>
			</tr>
			<tr bgcolor="#FFFFFF">
				<td width="15%">用户名</td>
				<td width="85%">2</td>
			</tr>
			<tr bgcolor="#FFFFFF">
				<td width="15%">角色</td>
				<td width="85%">3</td>
			</tr>
			<tr bgcolor="#FFFFFF">
				<td>创建时间</td>
				<td>4</td>
			</tr>
			<tr bgcolor="#FFFFFF">
				<td>最后登录时间</td>
				<td>5</td>
			</tr>
			<tr bgcolor="#FFFFFF">
				<td>最后登录客户端IP</td>
				<td>6</td>
			</tr>
		</table>
		
		<table width="100%" align="center" cellpadding="7" class="table" style="margin-top:20px;">
			<tr>
				<td colspan="2" class="th"><span class="span_server" style="float:left">&nbsp;</span>服务器信息</td>
			</tr>
			<tr bgcolor="#FFFFFF">
				<td width="15%">系统信息</td>
				<td width="85%">3</td>
			</tr>
			<tr bgcolor="#FFFFFF">
				<td width="15%">服务器环境</td>
				<td width="85%">4</td>
			</tr>
			<tr bgcolor="#FFFFFF">
				<td>数据库信息</td>
				<td>5</td>
			</tr>
			<tr bgcolor="#FFFFFF">
				<td>PHP版本</td>
				<td>6</td>
			</tr>
			<tr bgcolor="#FFFFFF">
				<td>服务器IP</td>
				<td>7</td>
			</tr>
		</table>
	</body>
</html>
