<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link type="text/css" rel="stylesheet" href="/static/css/ht_style.css">
    <link type="text/css" rel="stylesheet" href="/static/css/laydate.css">
    <link type="text/css" rel="stylesheet" href="/static/css/fixed_header.css">

    <script type="text/javascript" src="/static/js/jquery-2.0.0.min.js"></script>
    <script type="text/javascript" src="/static/laydate.js"></script>
    <style>
        .edit_permission{
                margin-bottom: 10px;
                background: #009c95;
                color: white;
                border-radius: 3px;
                border: none;
                cursor: pointer;
        }
        .head_div {
            margin-left: 20px;
            width: 100%;
            height: auto;
            margin-top: 25px;
            display:inline-block;
        }
        .head_div span,span{ float: left;
                        font-size: 18px;
                        height: 30px;
                        line-height: 30px;
                        color: black;
                        font-weight: 600;}

        .head_div select{
            width: 100px;
            height: 36px;
            border: solid 1px #cccccc;
            font-size: 17px;
        }
        select option{
            font-size: 17px;
        }
        h1{    display: block;
                font-size: 24px;
                line-height: 40px;
                height: 45px;
                float: left;
                color: black;
                font-weight: 600;}

        .btn_model{ width: 100px;
                        height: 36px;
                        background: #e8e8e8;
                        border-radius: 4px 0px 0px 4px;
                        float: left;}
        .btn_model p{
            color: rgba(0,0,0,.5);
            font-weight: 700;
            text-align: center;
            line-height: 36px;
            font-size: 1em;
            margin: 0;
        }

        .spinner_select option{font-size: 18px;}
        .activity_name{width: auto;height: 30px;margin: 0;font-size: 16px; border:solid 1px rgb(169, 169, 169);;text-align: center;}
    </style>
    <script>
        $(function(){
            $('#trigger_way').change(function(){
                way = $(this).val();
                var URL= "/activity_manage/happy_shake_alter/?way="+way;
                location.href=URL;
            })
        });

        function happy_record() {
                var URL= "/activity_manage/all_record/?pid=" +"happy_shake_record";
				location.href = URL;
        }
    </script>
</head>

<body style="line-height: 0.1em; overflow-x:auto; max-height: 900px;">
    <div class="body-div">
        <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" class="ht_big_bor0">
            <tr>
                <td width="25%" height="40" align="left" valign="middle" bgcolor="#F5F5F5"><strong style="color:#A0A0A0;padding-left:9%;white-space:nowrap;">活动管理 &gt;开心摇摇乐</strong></td>
                <td width="25%" align="left" valign="middle" bgcolor="#F5F5F5">

                </td>

                <td width="60%" align="center" valign="middle" bgcolor="#F5F5F5" class="w_update">

                </td>

                <td width="15%" align="center" valign="middle" bgcolor="#F5F5F5" class="w_update">
                    <a href="javascript:;" id="bn_btn_one" onclick="happy_record()">操作记录</a>
                </td>
            </tr>
            <tr>
                <td colspan="4" valign="top" bgcolor="#FFFFFF" style="height: 1000px;">
                    <!--主要内容开始-->
                    <form action="" method="post" id="form_happy">
                        {% csrf_token %}
                        <div style="height: 40px; width:100%;margin-left: 30px;margin-top: 20px;">
                            <h1 style="width:285px;">开心摇摇乐——
                                <a href="javascript:;" id="alter_happy_shake" style="color: white;width: 112px; height: 35px; background:#1B9AF7;border-radius: 3px; float:right;margin-top: 4px;">确认更改</a>
                            </h1>
                            <h1 style="width:220px;margin-left: 60px;">活动开关:
                                <div class="btn_fath clearfix off" onclick="switch_info(this)" id="switch_info" style="float: right;border-radius: 15px;width: 92px;margin-top: 5px;">
                                    <div class="move" id="move_info" data-state="off" style="width: 30px; border-radius: 15px; height: 30px; left: 0px;"></div>
                                    <div class="btnSwitch btn1" style="height: 32px;width:40px;"></div>
                                    <div class="btnSwitch btn2 " style="height: 32px;width:40px;"></div>
                                </div>
                             </h1>
                            <h1 style="width:268px;margin-left: 60px;">登录提示开关:
                                <div class="btn_fath clearfix off" onclick="switch_login(this)" id="switch_login" style="float: right;border-radius: 15px;width: 92px;margin-top: 5px;">
                                    <div class="move" id="move_login" data-state="off" style="width: 30px; border-radius: 15px; height: 30px; left: 0px;"></div>
                                    <div class="btnSwitch btn1" style="height: 32px;width:40px;"></div>
                                    <div class="btnSwitch btn2 " style="height: 32px;width:40px;"></div>
                                </div>
                            </h1>
                            <h1 style="width:350px;margin-left: 60px;">活动显示顺序:
                                <input type="text" class="activity_name" name="order" id="order" value="{{ order }}"  />
                            </h1>
                        </div>
                        <div style="height: 80%; margin: 10px;margin-bottom: 0;">
                            <div class="head_div" style="width: 100%;">
                                <h1 style="width:350px;font-size: 18px;">活动名称:
                                <input type="text" class="activity_name" placeholder="请输入活动名称" name="happy_name" id="happy_name" value="{{ happy_name }}"  />
                                </h1>
                            </div>

                            <div class="head_div" style="height: 100px;">
                                <span>活动描述：</span>
                                <textarea cols="50" rows="15" id="happy_desc" name="happy_desc" placeholder="请输入活动描述" style="width:280px;height:130px;font-size: 16px;font-weight: 400;">{{ happy_desc }}</textarea>
                            </div>

                            <div class="head_div">
                                <div class="btn_model">
                                    <p>开始时间</p>
                                </div>
                                <input placeholder="请输入日期" style="height: 32px;float: left;font-size: 16px;width: 210px;" id="start" class="laydate-icon" readonly="" value="{{ start_day }}" onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" name="start_time">
                                <div class="btn_model" style="margin-left: 30px;">
                                    <p>结束时间</p>
                                </div>
                                <input placeholder="请输入日期" style="height: 32px;float: left;font-size: 16px;width: 210px;" id="end" class="laydate-icon" readonly="" value="{{ end_day }}" onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" name="stop_time">
                            </div>
                            <div class="head_div" style="height: auto">
                                <div class="btn_model">
                                    <p>触发方式</p>
                                </div>
                                <select name="select_way" class="dowp_list_sty" id="trigger_way" style="float: left;">
                                    {% for info in select_info %}
                                         <option value="{{ info.vale }}" {% if way == info.vale %} selected {% endif %} >{{ info.content }}</option>
                                    {% endfor %}
                                </select>
                                {% if way == "1" %}
                                    {% for info in happy_list.happy %}
                                        <div class="excuseme" id="for_money">
                                            <div class="btn_model">
                                                <p>充值金额</p>
                                            </div>
                                            <input type="text" style="height: 32px;float: left;" class="for_up" name="{{ top_up }}" id="for_top_up" value="{{ info.money }}" />
                                            <h1 style="height: 36px;width: 26px">元</h1>
                                        </div>
                                        <div class="excuseme" id="for_rebate">
                                            <div class="btn_model">
                                                <p>返利</p>
                                            </div>
                                            <input type="text" style="height: 32px;float: left;" class="for_ret" name="{{ rebate }}" id="for_rebate" value="{{ info.rebate }}" />
                                            <h1 style="height: 36px;width: 26px">元</h1>
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    <div class="head_div" id="place_three" style="height: auto;margin-left: 0px;max-height:400px;overflow: auto ">
                                        <h1 style="width: 100%">
                                            档位：
                                        </h1>
                                        {% for info in happy_list.happy %}
                                            <div style="width: 100%;display:inline-block;float: left;margin-bottom:20px;" class="gears_info">
                                                <div class="excuseme" id="handle_money">
                                                    <div class="btn_model">
                                                           <p>充值金额</p>
                                                       </div>
                                                    <input type="text" style="height: 32px;float: left;" class="handle_up"  name="{{ top_up }}" id="top_up" value="{{ info.money }}" />
                                                    <h1 style="height: 36px;width: 26px">元</h1>
                                                </div>
                                                <div class="excuseme" id="handle_rebate">
                                                    <div class="btn_model">
                                                        <p>返利</p>
                                                    </div>
                                                    <input type="text" style="height: 32px;float: left;" class="handle_ret" name="{{ rebate }}" id="rebate" value="{{ info.rebate }}" />
                                                    <h1 style="height: 36px;width: 26px">元</h1>
                                                </div>
                                                <a onclick="$(this).parent().remove();" style="display:inline-block;width: 40px; height: 40px;cursor: pointer;float: left;"><img src="/static/images/message_error.png" style="vertical-align: baseline;height:36px;width:36px;"></a>
                                            </div>
                                        {% endfor %}
                                        <button class="edit_permission" id="pdd-prize-2" type="button" style="margin-top: 0px; width: 110px; height: 40px; font-size: 18px;float: left;">添加档位</button>
                                    </div>
                                {% endif %}
                            </div>

                        <div class="head_div" style="height: auto">
                            <div id="add_div">
                                {% for room in happy_list.room %}
                                    <div style="width: 270px;display:inline-block;float: left;margin-bottom:20px;">
                                        <div class="btn_model">
                                            <p>开放房间</p>
                                        </div>
                                        <select name="room" class="dowp_list_sty" style="float: left;margin-right: 20px;">
                                            {% for info in room_info %}
                                                 <option value="{{ info.vale }}" {% if room == info.vale %} selected {% endif %} >{{ info.content }}</option>
                                            {% endfor %}
                                        </select>
                                        <a onclick="$(this).parent().remove();" style="display:inline-block;width: 40px; height: 40px;cursor: pointer;float: left;"><img src="/static/images/message_error.png" style="vertical-align: baseline;height:36px;width:36px;"></a>
                                    </div>
                                {% endfor %}
                                <button class="edit_permission" id="pdd-prize" type="button" style="margin-top: 0px; width: 110px; height: 40px; font-size: 18px;float: left;">添加新房间</button>
                            </div>
                        </div>
                        </div>
                    </form>
                    <!--主要内容结束-->
                </td>
            </tr>
            <tr>
            </tr>
        </table>
    </div>

<script type="text/javascript">
    var prizeRowCnt = 1;
    $('#pdd-prize').click(function() {
			var html = [
                    '<div style="width:270px;display:inline-block; margin-bottom:20px;float: left;">',
					'<div class="btn_model">',
                        '<p>开放房间</p>',
                    '</div>',
                        '<select  class="dowp_list_sty" name="room" style="float: left;margin-right: 20px;">',
                        '<option value="201" selected="">初级房</option>',
                        '<option value="202" selected="">中级房</option>',
                        '<option value="203" selected="">高级房</option>',
                        '<option value="209" selected="">VIP房</option>',
                        '</select>',
					' <a onclick="$(this).parent().remove();" style="display:inline-block;width: 40px; height: 40px;cursor: pointer;float: left;"><img src="/static/images/message_error.png" style="vertical-align: baseline;height:36px;width:36px;"></a>',
                    '</div>',
				].join('');

        prizeRowCnt++;
        $('#pdd-prize').before(html);
    });

         var prizeRowCnt = 1;
    $('#pdd-prize-2').click(function() {
			var html = [
                  '<div style="width: 100%;display:inline-block;float: left;margin-bottom:20px;">',
                    '<div class="excuseme" id="place_one">',
                        '<div class="btn_model">',
                           ' <p>充值金额</p>',
                        '</div>',
                        '<input type="text" style="height: 32px;float: left;" class="handle_up" name="top_up" id="" value="" />',
                        '<h1 style="height: 36px;width: 26px">元</h1>',
                    '</div>',
                    '<div class="excuseme" id="place_tow">',
                        '<div class="btn_model">',
                            '<p>返利</p>',
                        '</div>',
                        '<input type="text" style="height: 32px;float: left;" class="handle_ret" name="rebate" id="" value="" />',
                          '<h1 style="height: 36px;width: 26px">元</h1>',
                         '</div>',
                    ' <a onclick="$(this).parent().remove();" style="display:inline-block;width: 40px; height: 40px;cursor: pointer;float: left;"><img src="/static/images/message_error.png" style="vertical-align: baseline;height:36px;width:36px;"></a>',
                  '</div>',
				].join('');

        prizeRowCnt++;
        $('#pdd-prize-2').before(html);
    });

    $(function(){
        var happy_name = false;
        var happy_desc = false;
        var order = false;

        $('#alter_happy_shake').click(function(){
			var ele = $('#switch_info').children(".move");

			if(ele.attr("data-state") == "on"){
				switch_show = 1
			}else if(ele.attr("data-state") == "off"){
				switch_show = 0
            }
            var login = $('#switch_login').children(".move");
			if(login.attr("data-state") == "on"){
				login_switch = 1
			}else if(login.attr("data-state") == "off"){
				login_switch = 0
            }
            check_name();
			check_desc();
			check_order();
			if(happy_name == true && happy_desc == true && order == true ){
			    var data_info = $.param({"switch_show":switch_show,"login_switch":login_switch}) + "&" + $("#form_happy").serialize();
                if(confirm("您确定修改开心摇摇乐?")){
                    $.post('/activity_manage/happy_shake_alter/', data_info, function(result) {
                        if (result.status) {
                            alert(result.info);
                        }
                        else {
                            alert(result.info);
                        }
                    });
                }else {
                    alert("您取消了修改开心摇摇乐");
                }
			    return true;

            }else {
			    return false;
            }


		});

        function check_order(){
            var len_order = $('#order').val().length;
            if(len_order==0)
            {
                alert("请输入活动显示顺序!");
                order = false;
            }
            else
            {
                order = true;
            }
        }

        function check_desc(){
            var len_desc = $('#happy_desc').val().length;
            if(len_desc==0)
            {
                alert("请输入活动描述!");
                happy_desc = false;
            }
            else
            {
                happy_desc = true;
            }
        }

        function check_name(){
            var len_name = $('#happy_name').val().length;
            if(len_name==0)
            {
                alert("请输入活动名称!");
                happy_name = false;
            }
            else
            {
                happy_name = true;
            }
        }
    });

    !function(){
    laydate.skin('molv');//切换皮肤，请查看skins下面皮肤库
    laydate({elem: '#demo'});//绑定元素
    }();
    //日期范围限制
    var start = {
        elem: '#start',
        format: 'YYYY-MM-DD hh:mm:ss',
        //min: laydate.now(), //设定最小日期为当前日期
        max: '2099-06-16', //最大日期
        istime: true,
        istoday: false,
        choose: function(datas){
             end.min = datas; //开始日选好后，重置结束日的最小日期
             end.start = datas //将结束日的初始值设定为开始日
        }
    };
    var end = {
        elem: '#end',
        format: 'YYYY-MM-DD hh:mm:ss',
        // min: laydate.now(),
        max: '2099-06-16',
        istime: true,
        istoday: false,
        choose: function(datas){
            start.max = datas; //结束日选好后，充值开始日的最大日期
        }
    };

    var valid = {
        elem: '#valid',
        format: 'YYYY-MM-DD hh:mm:ss',
        // min: laydate.now(),
        max: '2099-06-16',
        istime: true,
        istoday: false,
        choose: function(datas){
            start.max = datas; //结束日选好后，充值开始日的最大日期
        }
    };
    laydate(start); //valid
    laydate(end);
    laydate(valid);
    //自定义日期格式
    laydate({
        elem: '#test1',
        format: 'YYYY年MM月DD日',
        festival: true, //显示节日
        choose: function(datas){ //选择日期完毕的回调
            alert('得到：'+datas);
        }
    });
    //日期范围限定在昨天到明天
    laydate({
        elem: '#hello3',
        min: laydate.now(-1), //-1代表昨天，-2代表前天，以此类推
        max: laydate.now(+1) //+1代表明天，+2代表后天，以此类推
    });

    function switch_info(th){
		var ele = $(th).children(".move");
		if(ele.attr("data-state") == "on"){
			ele.animate({left: "0"}, 300, function(){
			ele.attr("data-state", "off");
		});
		$(th).removeClass("on").addClass("off");
		}else if(ele.attr("data-state") == "off"){
			ele.animate({left: '60px'}, 300, function(){
				$(this).attr("data-state", "on");
			});
			$(th).removeClass("off").addClass("on");
		}
	}

	function switch_login(th){
		var ele = $(th).children(".move");
		if(ele.attr("data-state") == "on"){
			ele.animate({left: "0"}, 300, function(){
			ele.attr("data-state", "off");
		});
		$(th).removeClass("on").addClass("off");
		}else if(ele.attr("data-state") == "off"){
			ele.animate({left: '60px'}, 300, function(){
				$(this).attr("data-state", "on");
			});
			$(th).removeClass("off").addClass("on");
		}
	}

	$(function () {
		if({{ happy_list.switch|default:0 }}==1){
			$('#switch_info').attr("data-state", "on");
			$('#move_info').animate({left: '60px'}, 300, function(){
				$(this).attr("data-state", "on");
			});
			$('#switch_info').removeClass("off").addClass("on");
		}
		if({{ tips|default:0 }}==1){
			$('#switch_login').attr("data-state", "on");
			$('#move_login').animate({left: '60px'}, 300, function(){
				$(this).attr("data-state", "on");
			});
			$('#switch_login').removeClass("off").addClass("on");
		}

	});


    </script>

</body>

</html>