{% load extratags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="/static/css/easyui.css">
    <link type="text/css" rel="stylesheet" href="/static/css/ht_style.css">
    <link type="text/css" rel="stylesheet" href="/static/css/load.css">
    <link type="text/css" rel="stylesheet" href="/static/css/fixed_header.css">
    <link type="text/css" rel="stylesheet" href="/static/css/style.css" />
    <link type="text/css" rel="stylesheet" href="/static/css/common.css"/>

    <script type="text/javascript" src="/static/js/jquery-2.0.0.min.js"></script>
    <script type="text/javascript" src="/static/js/load-min.js"></script>
    <script type="text/javascript" src="/static/js/common.js"></script>
    <script type="text/javascript"  src="/static/laydate.js"></script>
    <script type="text/javascript" src="/static/js/jquery.easyui.min.js"></script>
    <script type="text/javascript"  src="/static/js/fixed_header.js"></script>

    <script>
        $(function(){
            $('#paging').click(function () {
                var pag = $('.pagination-num').val() ;
                var URL= "/activity_manage/make_proud_query?page=" + pag;
                location.href=URL;
            });

            $('#rank_export_data').click(function () {
                var URL= "/activity_manage/export_xls/?rid=" +"may_rank";
                location.href=URL;
            });

            var error_start = false;
            var error_end = false;

            $('#query_data').click(function(){
                check_time();
                if(error_start == true && error_end == true)
                {
                    $.Load_data();
                    $("#form_search").submit();
                    return true;
                }
                else
                {
                    return false;
                }

            });

            function check_time(){
                var len_start = $('#start').val().length;
                var len_end = $('#end').val().length;
                if(len_start==0 || len_end==0)
                {
                    msgShow('系统提示', "请输入日期", 'warning');
                    error_start = false;
                    error_end = false;
                }
                else
                {
                    error_start = true;
                    error_end = true;
                }
            }

            $('.popup').click(function(event) { //点击a标签
                if($(this).find(".item-desc").is(':hidden')) { //如果当前隐藏
                    $(this).parents().find(".item-desc").hide()
                    $(this).find(".item-desc").show(); //那么就显示div
					$(".item-desc").css("left", document.body.scrollLeft + event.clientX + -700);
					$(".item-desc").css("top", document.body.scrollLeft + event.clientY + -100);

                } else { //否则
                    $(".item-desc").hide(); //就隐藏div

                }
            })
            $(document).click(function() {
                $(".item-desc").hide();

            });
            $(".popup").click(function(event) {
                event.stopPropagation();
            });
        });

    </script>
</head>
<body>
    <div class="body-div">
        <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" class="ht_big_bor0" id="all_data" >
            <form action="/activity_manage/make_proud_query/" method="post" id="form_search">
                {% csrf_token %}
                <tr>
                    <td width="16%" height="40" align="left" valign="middle" bgcolor="#F5F5F5"><strong style="color:#A0A0A0;padding-left:9%;white-space:nowrap;">活动管理&gt;五一排行榜详情</strong></td>
                    <td width="62%" align="left" valign="middle" bgcolor="#F5F5F5">
                        <lable for="introduce" style="padding-left: 10px; font-size:12px;">时间:</lable>
                            <input placeholder="请输入日期" id="start" class="laydate-icon" readonly="" value="{{ start_day }}" onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" name="start_time" style="margin-right: 5px;margin-left: 5px;width: 210px;">
                        <lable for="introduce" style="padding-left: 10px; font-size:12px;">至:</lable>
                            <input placeholder="请输入日期" id="end" class="laydate-icon"  readonly="" value="{{ end_day }}" onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" name="stop_time" style="margin-right: 20px;margin-left: 5px;width: 210px;">
                        <input type="button" value="确认查询" id="query_data" class="button">
                     </td>
                    <td width="12%" align="center" valign="middle" bgcolor="#F5F5F5" class="w_update">
                        {% if page.paginator.num_pages %}
                            <input type="button" value="导出xls" class="button_color" id="rank_export_data" style="margin-left: 20px;"/>
                        {% else %}
                            <input type="button" value="导出xls" class="button_color"  style="margin-left: 20px;background-color: #8b8a8a"/>
                        {% endif %}
                    </td>
                </tr>
            </form>
            <tr>
                <td colspan="4" valign="top" bgcolor="#FFFFFF">
                        <!--主要内容开始-->
                    <div class='table-cont' id='table-cont'>
								<table width="100%" border="0" align="center" cellpadding="12" cellspacing="1" bgcolor="#DFDFDF" id="order_title" style="margin-top: -1px;">
									<thead>
										<tr>
                                            <th align="center" bgcolor="#EEEEEE">渠道 </th>
											<th align="center" bgcolor="#EEEEEE">起始日期</th>
											<th align="center" bgcolor="#EEEEEE">结束日期</th>
											<th align="center" bgcolor="#EEEEEE">操作</th>
										</tr>
									</thead>
									<tbody>
										{% for info  in page %}
											<tr id="hover_tr" bgcolor="#FFFFFF">
                                                <td align="center" valign="middle" style="height: 50px;">{{ info.channel|channel_name }}</td>
												<td align="center" valign="middle" style="height: 50px;">{{ info.start_stamp }}</td>
                                                <td align="center" valign="middle" style="height: 50px;">{{ info.end_stamp }}</td>
                                                <td align="center" class="popup" style="height: 50px;">
                                                    <a style="cursor: pointer;color: #0A9800;">详情</a>
                                                    <div class="item-desc" style="max-height: 400px; overflow-y: auto">
                                                            <div class="table-smalls" id="table-smalls" style="max-height: 300px;">
                                                               <table width="100%" border="0" align="center" cellpadding="12" cellspacing="2">
                                                                   <thead>
                                                                       <tr>
                                                                           <th bgcolor="#A8D7FD" style="height: 20px;">名次</th>
                                                                           <th bgcolor="#A8D7FD">渠道ID</th>
                                                                           <th bgcolor="#A8D7FD">玩家ID</th>
                                                                           <th bgcolor="#A8D7FD">手机号</th>
                                                                           <th bgcolor="#A8D7FD">玩家昵称</th>
                                                                           <th bgcolor="#A8D7FD">VIP等级</th>
                                                                           <th bgcolor="#A8D7FD">活动总积分</th>
                                                                           <th bgcolor="#A8D7FD">充值积分</th>
                                                                           <th bgcolor="#A8D7FD">洗码量积分</th>
                                                                           <th bgcolor="#A8D7FD">积分总消耗</th>
                                                                           <th bgcolor="#A8D7FD">积分总剩余</th>
                                                                       </tr>
                                                                   </thead>
                                                                    {% if info.play_info|length > 0 %}
                                                                       {% for play in info.play_info %}
                                                                           <tr>
                                                                               <td align="center">{{ play.rank|add:1 }}</td>
                                                                               <td align="center">{{ play.cid }}</td>
                                                                               <td align="center">{{ play.id }}</td>
                                                                               <td align="center">{{ play.phone|default:0 }}</td>
                                                                               <td align="center">{{ play.nick }}</td>
                                                                               <td align="center">{{ play.vip }}</td>
                                                                               <td align="center">{{ play.point }}</td>
                                                                               <td align="center">{{ play.pay_point }}</td>
                                                                               <td align="center">{{ play.shot_point }}</td>
                                                                               <td align="center">{{ play.use_point }}</td>
                                                                               <td align="center">{{ play.surplus_point }}</td>
                                                                           </tr>
                                                                       {% endfor %}
                                                                   {% endif %}
                                                               </table>
                                                            </div>
                                                        </div>
                                                </td>
											</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
                    <!--主要内容结束-->
                    <div class="datagrid-pager pagination">
                        <table cellspacing="0" cellpadding="0" border="0">
                            <tbody>
                                <tr>
                                    <!--<td>-->
                                        <!--<select class="pagination-page-list">-->
                                            <!--<option>10</option>-->
                                            <!--<option>20</option>-->
                                            <!--<option>30</option>-->
                                            <!--<option>40</option>-->
                                            <!--<option>50</option>-->
                                        <!--</select>-->
                                    <!--</td>-->
                                    <td>
                                        <div class="pagination-btn-separator"></div>
                                    </td>
                                    {% if page.has_previous %}
                                        <td>
                                            <a href="{{url_date}}?page=1" class="l-btn l-btn-small l-btn-plain">
                                                <span class="l-btn-left l-btn-icon-left">
                                                    <span class="l-btn-text l-btn-empty">&nbsp;</span>
                                                    <span class="l-btn-icon pagination-first">&nbsp;</span>
                                                </span>
                                            </a>
                                        </td>
                                        <td>
                                            <a href="{{url_date}}?page={{ page.number|add:-1 }}" class="l-btn l-btn-small l-btn-plain">
                                                <span class="l-btn-left l-btn-icon-left">
                                                    <span class="l-btn-text l-btn-empty">&nbsp;</span>
                                                    <span class="l-btn-icon pagination-prev">&nbsp;</span>
                                                </span>
                                            </a>
                                        </td>
                                    {% else %}
                                        <td>
                                            <a href="javascript:void(0)" class="l-btn l-btn-small l-btn-plain l-btn-disabled l-btn-plain-disabled">
                                                <span class="l-btn-left l-btn-icon-left">
                                                    <span class="l-btn-text l-btn-empty">&nbsp;</span>
                                                    <span class="l-btn-icon pagination-first">&nbsp;</span>
                                                </span>
                                            </a>
                                        </td>
                                        <td>
                                            <a href="javascript:void(0)" class="l-btn l-btn-small l-btn-plain l-btn-disabled l-btn-plain-disabled">
                                                <span class="l-btn-left l-btn-icon-left">
                                                    <span class="l-btn-text l-btn-empty">&nbsp;</span>
                                                    <span class="l-btn-icon pagination-prev">&nbsp;</span>
                                                </span>
                                            </a>
                                        </td>
                                    {% endif %}
                                    <td>
                                        <div class="pagination-btn-separator"></div>
                                    </td>
                                    <td>
                                        <span style="padding-left:6px;">Page</span>
                                    </td>
                                    <td>
                                        <input class="pagination-num" value="{{number}}" size="2" type="text">
                                    </td>

                                    <td>
                                        <span style="padding-right:6px;">of {{ page.paginator.num_pages }}</span>
                                    </td>

                                    <td>
                                        <div class="pagination-btn-separator"></div>
                                    </td>
                                    {% if page.has_next %}
                                        <td>
                                            <a href="{{url_date}}?page={{ page.number|add:1 }}" class="l-btn l-btn-small l-btn-plain">
                                                <span class="l-btn-left l-btn-icon-left">
                                                    <span class="l-btn-text l-btn-empty">&nbsp;</span>
                                                    <span class="l-btn-icon pagination-next">&nbsp;</span>
                                                </span>
                                            </a>
                                        </td>
                                        <td>
                                            <a href="{{url_date}}?page={{ page.paginator.num_pages }}" class="l-btn l-btn-small l-btn-plain">
                                                <span class="l-btn-left l-btn-icon-left">
                                                    <span class="l-btn-text l-btn-empty">&nbsp;</span>
                                                    <span class="l-btn-icon pagination-last">&nbsp;</span>
                                                </span>
                                            </a>
                                        </td>
                                    {% else %}
                                        <td>
                                            <a href="javascript:void(0)" class="l-btn l-btn-small l-btn-plain l-btn-disabled l-btn-plain-disabled">
                                                <span class="l-btn-left l-btn-icon-left">
                                                    <span class="l-btn-text l-btn-empty">&nbsp;</span>
                                                    <span class="l-btn-icon pagination-next">&nbsp;</span>
                                                </span>
                                            </a>
                                        </td>
                                        <td>
                                            <a href="javascript:void(0)" class="l-btn l-btn-small l-btn-plain l-btn-disabled l-btn-plain-disabled">
                                                <span class="l-btn-left l-btn-icon-left">
                                                    <span class="l-btn-text l-btn-empty">&nbsp;</span>
                                                    <span class="l-btn-icon pagination-last">&nbsp;</span>
                                                </span>
                                            </a>
                                        </td>
                                    {% endif %}

                                    <td>
                                        <div class="pagination-btn-separator"></div>
                                    </td>
                                    {% if page.has_next or page.has_previous %}
                                        <td>
                                            <a href="javascript:void(0)" class="l-btn l-btn-small l-btn-plain" group="" id="paging">
                                                <span class="l-btn-left l-btn-icon-left">
                                                    <span class="l-btn-text l-btn-empty">&nbsp;</span>
                                                    <span class="l-btn-icon pagination-load">&nbsp;</span>
                                                </span>
                                            </a>
                                        </td>
                                    {% else %}
                                        <td>
                                            <a href="javascript:void(0)" class="l-btn l-btn-small l-btn-plain l-btn-disabled l-btn-plain-disabled" group="">
                                                <span class="l-btn-left l-btn-icon-left">
                                                    <span class="l-btn-text l-btn-empty">&nbsp;</span>
                                                    <span class="l-btn-icon pagination-load">&nbsp;</span>
                                                </span>
                                            </a>
                                        </td>
                                    {% endif %}
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
    </div>

    <script>
        !function(){
        laydate.skin('molv');//切换皮肤，请查看skins下面皮肤库
        laydate({elem: '#demo'});//绑定元素
        }();
        //日期范围限制
        var start = {
            elem: '#start',
            format: 'YYYY-MM-DD hh:mm:ss',
            //min: laydate.now(), //设定最小日期为当前日期
            max: '2099-06-16', //最大日期
            istime: true,
            istoday: false,
            choose: function(datas){
                 end.min = datas; //开始日选好后，重置结束日的最小日期
                 end.start = datas //将结束日的初始值设定为开始日
            }
        };
        var end = {
            elem: '#end',
            format: 'YYYY-MM-DD hh:mm:ss',
            // min: laydate.now(),
            max: '2099-06-16',
            istime: true,
            istoday: false,
            choose: function(datas){
                start.max = datas; //结束日选好后，充值开始日的最大日期
            }
        };

        var valid = {
            elem: '#valid',
            format: 'YYYY-MM-DD hh:mm:ss',
            // min: laydate.now(),
            max: '2099-06-16',
            istime: true,
            istoday: false,
            choose: function(datas){
                start.max = datas; //结束日选好后，充值开始日的最大日期
            }
        };
        laydate(start); //valid
        laydate(end);
        laydate(valid);
        //自定义日期格式
        laydate({
            elem: '#test1',
            format: 'YYYY年MM月DD日',
            festival: true, //显示节日
            choose: function(datas){ //选择日期完毕的回调
                alert('得到：'+datas);
            }
        });
        //日期范围限定在昨天到明天
        laydate({
            elem: '#hello3',
            min: laydate.now(-1), //-1代表昨天，-2代表前天，以此类推
            max: laydate.now(+1) //+1代表明天，+2代表后天，以此类推
        });
    </script>
</body>
</html>