{% load extratags %}
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link rel="stylesheet" type="text/css" href="/static/css/default.css">
		<link type="text/css" rel="stylesheet" href="/static/css/red_popup.css"/>
		<link rel="stylesheet" type="text/css" href="/static/css/easyui.css">
        <link type="text/css" rel="stylesheet" href="/static/css/load.css">
		<link type="text/css" rel="stylesheet" href="/static/css/laydate.css">
		<link type="text/css" rel="stylesheet" href="/static/css/ht_style.css">
		<link type="text/css" rel="stylesheet" href="/static/css/fixed_header.css">
		<link type="text/css" rel="stylesheet" href="/static/css/red_packet.css">

		<script type="text/javascript" src="/static/js/jquery-2.0.0.min.js"></script>
        <script type="text/javascript" src="/static/js/load-min.js"></script>
		<script type="text/javascript" src="/static/js/common.js"></script>
		<script type="text/javascript" src="/static/js/jquery.easyui.min.js"></script>
		<script type="text/javascript"  src="/static/laydate.js"></script>
		<script type="text/javascript"  src="/static/js/fixed_header.js"></script>
		<script src="/static/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/static/js/hint.js"></script>
		<script>
			$(function(){
				$('#paging').click(function () {
					var pag = $('.pagination-num').val() ;
					var URL= "/activity_manage/red_packet/?page=" + pag;
					location.href=URL;
				});

				$('#export_data').click(function () {
					var URL= "/activity_manage/red_packet_xls/1";
					location.href=URL;
				});

				var error_start = false;
				var error_end = false;

				$('#query_red_packet').click(function(){
					check_time();
					if(error_start == true && error_end == true)
					{
                        $.Load_data();
                        $("#red_form").submit();
						return true;
					}
					else
					{
						return false;
					}
				});

				function check_time(){
					var len_start = $('#start').val().length;
					var len_end = $('#end').val().length;
					if(len_start==0 || len_end==0)
					{

						msgShow('系统提示', "请输入日期", 'warning');
						error_start = false;
						error_end = false;
					}
					else
					{
						error_start = true;
						error_end = true;
					}
				}
			});

			function red_click(obj){
				 var red_select =obj.options[obj.selectedIndex].value;
				  if (red_select == 0) {
                      $("#start_time").hide();
                      $("#end_time").hide();
                      $("#interval").hide();
                  }
                  else {
					  $("#start_time").show();
                      $("#end_time").show();
                      $("#interval").show();
				  }
			}
    </script>
    <script>
        $(function() {
            $('.popup').click(function(event) { //点击a标签
                if($(this).find(".item-desc").is(':hidden')) { //如果当前隐藏
                    $(this).parents().find(".item-desc").hide()
                    $(this).find(".item-desc").show(); //那么就显示div
                    $(this).find(".item-desc").css("left", document.body.scrollLeft + event.clientX + -(700));
			        $(this).find(".item-desc").css("top", document.body.scrollLeft + event.clientY + -(100));

                } else { //否则
                    $(".item-desc").hide(); //就隐藏div

                }
            })
            $(document).click(function() {
                $(".item-desc").hide();

            });
            $(".popup").click(function(event) {
                event.stopPropagation();
            });

            var w,h,className;
            function getSrceenWH(){
                w = $(window).width();
                h = $(window).height();
                $('#dialogBg').width(w).height(h);
            }

            getSrceenWH();

            //显示弹框
            $('#red_packet').click(function(){
                className = $(this).attr('class');
                $('#dialogmag').fadeIn(300);
                $('#dialohg').removeAttr('class').addClass('by_value '+className+'').fadeIn();
            });

            //关闭弹窗
            $('.claseDialogBtn').click(function(){
                $('#dialogmag').fadeOut(300,function(){
                    $('#dialohg').addClass('bounceOutUp').fadeOut();
                });
            });
        });

        function red_packet_record() {
			var URL = "/activity_manage/all_record/?pid=" +"red_record";
			location.href = URL;
		}

		function special_id(special_id) {
			$.post('/activity_manage/deal_red_packet/', {csrfmiddlewaretoken: '{{ csrf_token }}',"pid":2,"special_id":special_id}, function(data) {
				if ( data.status) {
					if(confirm(data.info)){
						var pag = $('.pagination-num').val() ;
						var URL= "/activity_manage/red_packet/?page=" + pag;
						location.href=URL;
					}else {
						var pag = $('.pagination-num').val() ;
						var URL= "/activity_manage/red_packet/?page=" + pag;
						location.href=URL;
					}
				}
				else {
					alert(data.info);
				}

			});
		}

	</script>

	</head>

	<body style="min-width: 1610px;">
		<div class="body-div">
			<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" class="ht_big_bor0">
				<tbody>
					<form action="/activity_manage/red_packet/" method="post" id="red_form">
                        {% csrf_token %}
						<tr>
							<td width="16%" height="40" align="left" valign="middle" bgcolor="#F5F5F5"><strong style="color:#A0A0A0;padding-left:9%;white-space:nowrap;">活动管理 &gt; 红包总览</strong></td>
							<td width="40%" align="left" valign="middle" bgcolor="#F5F5F5">
								<lable for="introduce" style="padding-left: 10px; font-size:12px;">时间:</lable>
									<input placeholder="请输入日期" id="start" class="laydate-icon" readonly="" value="{{start_day}}" onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" name="start_time">
								<lable for="introduce" style="padding-left: 10px; font-size:12px;">至:</lable>
									<input placeholder="请输入日期" id="end" class="laydate-icon"  readonly="" value="{{end_day}}" onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" name="stop_time">
								<select name="red_packet_type" class="dowp_list_sty" style="margin-right: 20px;margin-left: 5px;">
                            		{% for info in red_info %}
										 <option value="{{ info.vale }}" {% if red_type == info.vale %} selected {% endif %} >{{ info.content }}</option>
									{% endfor %}
								</select>
								<input type="button" value="确认查询" id="query_red_packet" class="button" style="width: 112px;margin-left: 20px;">
							</td>
							<td width="12%" align="center" valign="middle" bgcolor="#F5F5F5" class="w_update">
								<a href="javascript:;" class="bn_btn_one" id="red_packet" style="float: left;">红包生成</a>
								<a href="#" id="bn_btn_one" onclick="red_packet_record()" style="float: left;">操作记录</a>
							</td>
							<td width="5%" align="center" valign="middle" bgcolor="#F5F5F5" class="w_update">
								{% if page.paginator.num_pages %}
									<input type="button" value="导出xls" class="button_color" id="export_data" style="margin-left: 20px;"/>
								{% else %}
									<input type="button" value="导出xls" class="button_color"  style="margin-left: 20px;background-color: #8b8a8a"/>
								{% endif %}
							</td>
						</tr>
					</form>
					<tr>
						<td colspan="4" valign="top" bgcolor="#FFFFFF">
							<!--主要内容开始-->
							<div class='table-cont' id='table-cont'>
								<table width="100%" border="0" align="center" cellpadding="12" cellspacing="1" bgcolor="#DFDFDF" id="order_title" style="margin-top: -1px;">
									<thead>
										<tr>
											<th align="center" bgcolor="#EEEEEE" style="height: 37px;">序号</th>
											<th align="center" bgcolor="#EEEEEE">起始日期 </th>
											<th align="center" bgcolor="#EEEEEE">截止日期</th>
											<th align="center" bgcolor="#EEEEEE">红包类型</th>
											<th align="center" bgcolor="#EEEEEE">红包金额</th>
											<th align="center" bgcolor="#EEEEEE">红包数量</th>
											<th align="center" bgcolor="#EEEEEE">发放间隔</th>
											<th align="center" bgcolor="#EEEEEE">已领次数</th>
											<th align="center" bgcolor="#EEEEEE">未领次数</th>
											<th align="center" bgcolor="#EEEEEE">总领取数量</th>
                                            <th align="center" bgcolor="#EEEEEE">导出xls</th>
											<th align="center" bgcolor="#EEEEEE">操作</th>
										</tr>
									</thead>
									<tbody>
										{% for info  in page %}
											<tr id="hover_tr" bgcolor="#FFFFFF">
												<td align="center" valign="middle" style="height: 50px;">{{info.order}}</td>
												{% if info.red_packet_type == 0 %}
													<td align="center" valign="middle" style="height: 50px;">{{info.day_time}}</td>
													<td align="center" valign="middle" style="height: 50px;">{{info.day_time}}</td>
													<td align="center" valign="middle" style="height: 50px;">普通红包</td>
												{% else %}
													<td align="center" valign="middle" style="height: 50px;">{{info.start_date}}</td>
													<td align="center" valign="middle" style="height: 50px;">{{info.end_date}}</td>
													<td align="center" valign="middle" style="height: 50px;">定时红包</td>
												{% endif %}
												{% if info.red_packet_type == 0 %}
													<td align="center" valign="middle" style="height: 50px;">{{info.send_gold}}</td>
													<td align="center" valign="middle" style="height: 50px;">{{info.packet_sum}}</td>
												{% else %}
													<td align="center" valign="middle" style="height: 50px;">{{info.send_gold}}|{{info.all_send_gold}}</td>
													<td align="center" valign="middle" style="height: 50px;">{{info.packet_sum}}|{{info.all_packet_sum}}</td>
												{% endif %}
												{% if info.red_packet_type == 0 %}
													<td align="center" valign="middle" style="height: 50px;">--</td>
												{% else %}
													<td align="center" valign="middle" style="height: 50px;">{{info.inter_time}}分钟</td>
												{% endif %}
												<td align="center" valign="middle" style="height: 50px;">{{info.get_money}}</td>
												<td align="center" valign="middle" style="height: 50px;">{{info.no_times}}</td>

                                                <td align="center" class="popup">
                                                    <span>{{info.get_gold}}</span>
                                                    {% if info.red_packet_type == 0 %}
                                                        <div class="item-desc" style="max-height: 400px; overflow-y: auto">
                                                             <div class="table-smalls" id="table-smalls">
                                                                 <table width="100%" border="0" align="center" cellpadding="12"cellspacing="10">
                                                                     <thead>
                                                                        <tr>
                                                                            <th bgcolor="#A8D7FD" style="height: 20px;">日期</th>
                                                                            <th bgcolor="#A8D7FD">ID</th>
                                                                            <th bgcolor="#A8D7FD">领取数额</th>
                                                                        </tr>
                                                                    </thead>
                                                                    {% if info.user_info|length > 0 %}
                                                                        {% for user_data in info.user_info %}
                                                                             {% for user in user_data %}
                                                                                <tr>
                                                                                    <td align="center">{{user.time|date:'Y-m-d H:i:s'}}</td>
                                                                                    <td align="center">{{user.uid}}</td>
                                                                                    <td align="center">{{user.packet}}</td>
                                                                                </tr>
                                                                             {%endfor%}
                                                                        {%endfor%}
                                                                    {% endif %}
                                                                 </table>
                                                             </div>
                                                        </div>
                                                    {% else %}
                                                        <div class="item-desc" style="max-height: 400px; overflow-y: auto">
                                                            {% for payInfo in info.user_info %}
                                                                <div class="table-smalls" id="table-smalls">
                                                                     <table width="100%" border="0" align="center" cellpadding="12"cellspacing="10">
                                                                         <thead>
                                                                            <tr>
                                                                                <th bgcolor="#A8D7FD" style="height: 20px;">日期</th>
                                                                                <th bgcolor="#A8D7FD">ID</th>
                                                                                <th bgcolor="#A8D7FD">领取数额</th>
                                                                            </tr>
                                                                        </thead>
                                                                        {% if payInfo|length > 0 %}
                                                                            {% for user in payInfo %}
                                                                                <tr>
                                                                                    <td align="center">{{user.time|date:'Y-m-d H:i:s'}}</td>
                                                                                    <td align="center">{{user.uid}}</td>
                                                                                    <td align="center">{{user.packet}}</td>
                                                                                </tr>
                                                                            {%endfor%}
                                                                        {% endif %}
                                                                     </table>
                                                                 </div>
                                                            {%endfor%}
                                                        </div>
                                                    {% endif %}
                                                </td>
                                                <td align="center" valign="middle" class="w_update" style="height: 50px;width: 87px;">
                                                    {% if info.user_info|length > 0 %}
                                                        <a href="/activity_manage/red_packet_xls/2?Info={{info.packet_list}};" class="bn_btn_more">导出xls</a>
                                                    {% else %}
                                                        <a href="javascript:;" class="bn_btn_more" style="background-color: #8b8a8a;">导出xls</a>
                                                    {% endif %}
                                                </td>
												{% if info.red_packet_type == 0 %}
													<td align="center" valign="middle" style="height: 50px;">--</td>
												{% else %}
													{% if info.stop_state == 1 and info.end_date|stop_deal %}
														<td align="center" valign="middle" style="height: 50px;">
															<a href="javascript:special_id('{{info.special_id}}');"  style="color:blue">终止</a>
														</td>
													{% else %}
														<td align="center" valign="middle" style="height: 50px;">
															<a href="javascript:;"  style="color:#B9B7B7">终止</a>
														</td>
													{% endif %}
												{% endif %}
											</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
							<!--主要内容结束-->
							<div class="datagrid-pager pagination">
								<table cellspacing="0" cellpadding="0" border="0">
									<tbody>
										<tr>
											<!--<td>-->
												<!--<select class="pagination-page-list">-->
													<!--<option>10</option>-->
													<!--<option>20</option>-->
													<!--<option>30</option>-->
													<!--<option>40</option>-->
													<!--<option>50</option>-->
												<!--</select>-->
											<!--</td>-->
											<td>
												<div class="pagination-btn-separator"></div>
											</td>
											{% if page.has_previous %}
												<td>
													<a href="{{url_date}}?page=1" class="l-btn l-btn-small l-btn-plain">
														<span class="l-btn-left l-btn-icon-left">
															<span class="l-btn-text l-btn-empty">&nbsp;</span>
															<span class="l-btn-icon pagination-first">&nbsp;</span>
														</span>
													</a>
												</td>
												<td>
													<a href="{{url_date}}?page={{ page.number|add:-1 }}" class="l-btn l-btn-small l-btn-plain">
														<span class="l-btn-left l-btn-icon-left">
															<span class="l-btn-text l-btn-empty">&nbsp;</span>
															<span class="l-btn-icon pagination-prev">&nbsp;</span>
														</span>
													</a>
												</td>
											{% else %}
												<td>
													<a href="javascript:void(0)" class="l-btn l-btn-small l-btn-plain l-btn-disabled l-btn-plain-disabled">
														<span class="l-btn-left l-btn-icon-left">
															<span class="l-btn-text l-btn-empty">&nbsp;</span>
															<span class="l-btn-icon pagination-first">&nbsp;</span>
														</span>
													</a>
												</td>
												<td>
													<a href="javascript:void(0)" class="l-btn l-btn-small l-btn-plain l-btn-disabled l-btn-plain-disabled">
														<span class="l-btn-left l-btn-icon-left">
															<span class="l-btn-text l-btn-empty">&nbsp;</span>
															<span class="l-btn-icon pagination-prev">&nbsp;</span>
														</span>
													</a>
												</td>
											{% endif %}

											<td>
												<div class="pagination-btn-separator"></div>
											</td>
											<td>
												<span style="padding-left:6px;">Page</span>
											</td>
											<td>
												<input class="pagination-num" value="{{number}}" size="2" type="text">
											</td>
											<td>
												<span style="padding-right:6px;">of {{ page.paginator.num_pages }}</span>
											</td>

											<td>
												<div class="pagination-btn-separator"></div>
											</td>
											{% if page.has_next %}
												<td>
													<a href="{{url_date}}?page={{ page.number|add:1 }}" class="l-btn l-btn-small l-btn-plain">
														<span class="l-btn-left l-btn-icon-left">
															<span class="l-btn-text l-btn-empty">&nbsp;</span>
															<span class="l-btn-icon pagination-next">&nbsp;</span>
														</span>
													</a>
												</td>
												<td>
													<a href="{{url_date}}?page={{ page.paginator.num_pages }}" class="l-btn l-btn-small l-btn-plain">
														<span class="l-btn-left l-btn-icon-left">
															<span class="l-btn-text l-btn-empty">&nbsp;</span>
															<span class="l-btn-icon pagination-last">&nbsp;</span>
														</span>
													</a>
												</td>
											{% else %}
												<td>
													<a href="javascript:void(0)" class="l-btn l-btn-small l-btn-plain l-btn-disabled l-btn-plain-disabled">
														<span class="l-btn-left l-btn-icon-left">
															<span class="l-btn-text l-btn-empty">&nbsp;</span>
															<span class="l-btn-icon pagination-next">&nbsp;</span>
														</span>
													</a>
												</td>
												<td>
													<a href="javascript:void(0)" class="l-btn l-btn-small l-btn-plain l-btn-disabled l-btn-plain-disabled">
														<span class="l-btn-left l-btn-icon-left">
															<span class="l-btn-text l-btn-empty">&nbsp;</span>
															<span class="l-btn-icon pagination-last">&nbsp;</span>
														</span>
													</a>
												</td>
											{% endif %}
											<td>
												<div class="pagination-btn-separator"></div>
											</td>
											{% if page.has_next or page.has_previous %}
												<td>
													<a href="javascript:void(0)" class="l-btn l-btn-small l-btn-plain" group="" id="paging">
														<span class="l-btn-left l-btn-icon-left">
															<span class="l-btn-text l-btn-empty">&nbsp;</span>
															<span class="l-btn-icon pagination-load">&nbsp;</span>
														</span>
													</a>
												</td>
											{% else %}
												<td>
													<a href="javascript:void(0)" class="l-btn l-btn-small l-btn-plain l-btn-disabled l-btn-plain-disabled" group="">
														<span class="l-btn-left l-btn-icon-left">
															<span class="l-btn-text l-btn-empty">&nbsp;</span>
															<span class="l-btn-icon pagination-load">&nbsp;</span>
														</span>
													</a>
												</td>
											{% endif %}
										</tr>
									</tbody>
								</table>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

		<!-- 弹框 style -->
		<div id="dialogmag"></div>
		<div id="dialohg" class="by_value" style="margin: auto;position: fixed; left: 25%; top: 10%;width: 660px;height:auto;">
			<div class="dialogTophg" style="height: 80px;width: 100%;">
				<p class="htt4">
					红包生成
				</p>
			</div>
			<form action="" method="post" id="send_form">
				<div class="div-info" style="width: 100%;">
					<div class="btn_model">
						<p>类型</p>
					</div>
					  <select id="red_select_type" name="red_type" class="dowp_list_sty" onchange="red_click(this)" style="float: left;">
						 <option value="0" selected>普通红包</option>
						 <option value="1">定时红包</option>
					  </select>

				</div>
				<div class="start_time" id="start_time" style="width: 100%; display: none">
					<div class="btn_model">
						<p>起始时间</p>
					</div>
					<input style="width: 272px;margin-top: 0px;" placeholder="请输入日期" id="day_start" class="laydate-icon" readonly value="{{start_day}}" onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" name="start_time">
				</div>
				<div class="end_time" id="end_time" style="width: 100%; display: none">
					<div class="btn_model">
						<p>结束时间</p>
					</div>
					<input style="width: 272px;margin-top: 0px;" placeholder="请输入日期" id="day_end" class="laydate-icon" readonly value="{{end_day}}" onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" name="stop_time">

				</div>
				<div class="div-info" style="width: 100%;">
					<div class="btn_model">
						<p>红包数额</p>
					</div>
						<input type="text" id="total_price" name="total_price" value="" onkeyup="value=value.replace(/[^\d]/g,'')"  style="width: 310px;margin-top: 0px;"/>

				</div>
				<div class="div-info" style="width: 100%;">
					<div class="btn_model">
						<p>红包数量</p>
					</div>
					  <input type="text" name="number" id="red_number" value="" onkeyup="value=value.replace(/[^\d]/g,'')"  style="width: 310px;margin-top: 0px;"/>

				</div>
				<div class="interval" id="interval" style="width: 100%; display: none">
					<div class="btn_model">
						<p>发放间隔</p>
					</div>
					<input type="text" id="interval_time" name="interval_time" value="" onkeyup="value=value.replace(/[^0-9]/g,'')"  style="width: 180px;margin-top: 0px;"/>
					<span style="color:#F00">(分钟)</span>
				</div>
				<div class="btn_select">
					<a href="javascript:;" class="claseDialogBtn" id="quxiao">取消</a>
					<a href="javascript:;" id="send_red_packet">确定</a>
				</div>
			</form>
		</div>
		<!-- 弹框 End -->


<script>
    !function(){
    laydate.skin('molv');//切换皮肤，请查看skins下面皮肤库
    laydate({elem: '#demo'});//绑定元素
    }();
    //日期范围限制
    var start = {
        elem: '#start',
        format: 'YYYY-MM-DD hh:mm:ss',
        //min: laydate.now(), //设定最小日期为当前日期
        max: '2099-06-16', //最大日期
        istime: true,
        istoday: false,
        choose: function(datas){
             end.min = datas; //开始日选好后，重置结束日的最小日期
             end.start = datas //将结束日的初始值设定为开始日
        }
    };
    var end = {
        elem: '#end',
        format: 'YYYY-MM-DD hh:mm:ss',
        // min: laydate.now(),
        max: '2099-06-16',
        istime: true,
        istoday: false,
        choose: function(datas){
            start.max = datas; //结束日选好后，充值开始日的最大日期
        }
    };

    var day_start = {
        elem: '#day_start',
        format: 'YYYY-MM-DD hh:mm:ss',
        // min: laydate.now(),
        max: '2099-06-16',
        istime: true,
        istoday: false,
        choose: function(datas){
            day_start.max = datas; //结束日选好后，充值开始日的最大日期
        }
    };

    var day_end = {
        elem: '#day_end',
        format: 'YYYY-MM-DD hh:mm:ss',
        // min: laydate.now(),
        max: '2099-06-16',
        istime: true,
        istoday: false,
        choose: function(datas){
            day_start.max = datas; //结束日选好后，充值开始日的最大日期
        }
    };

    var valid = {
        elem: '#valid',
        format: 'YYYY-MM-DD hh:mm:ss',
        // min: laydate.now(),
        max: '2099-06-16',
        istime: true,
        istoday: false,
        choose: function(datas){
            start.max = datas; //结束日选好后，充值开始日的最大日期
        }
    };
    laydate(start); //valid
    laydate(end);
    laydate(day_start);
    laydate(day_end);
    laydate(valid);
    //自定义日期格式
    laydate({
        elem: '#test1',
        format: 'YYYY年MM月DD日',
        festival: true, //显示节日
        choose: function(datas){ //选择日期完毕的回调
            alert('得到：'+datas);
        }
    });
    //日期范围限定在昨天到明天
    laydate({
        elem: '#hello3',
        min: laydate.now(-1), //-1代表昨天，-2代表前天，以此类推
        max: laydate.now(+1) //+1代表明天，+2代表后天，以此类推
    });


	$(function(){
		var error_total_price = false;
		var error_red_number = false;
        var error_interval_time = false;
        var error_day_start = false;
        var error_day_end = false;

		$('#send_red_packet').click(function(){
		    var red_type = $('#red_select_type').val();
		    if(red_type ==0){
		        check_total_price();
		        if(error_total_price == true && error_red_number == true)
                {
                    var params =$.param({csrfmiddlewaretoken: '{{ csrf_token }}',"pid":1}) + "&" + $('#send_form').serialize();
                    if(confirm("您确定发送红包？")){
                        $.post('/activity_manage/deal_red_packet/', params, function(data) {
                            if ( data.status) {
                                $.MsgBox.Alert("消息", data.info);
                                $('#dialogmag').fadeOut(300,function(){
                                    $('#dialohg').addClass('bounceOutUp').fadeOut();
                                });
                            }
                        });
                    }else {
                        $.MsgBox.Alert("消息", data.info);
                    }
                    return true;
                }
                else
                {
                    return false;
                }
            }else {
		        check_day_time();
                check_total_price();
                check_interval();
                if(error_total_price == true && error_red_number == true && error_interval_time == true && error_day_start == true && error_day_end == true)
                {
                    var params =$.param({csrfmiddlewaretoken: '{{ csrf_token }}',"pid":1}) + "&" + $('#send_form').serialize();
                    if(confirm("您确定发送红包？")){
                        $.post('/activity_manage/deal_red_packet/', params, function(date) {
                            if ( date.status) {
                                $.MsgBox.Alert("消息", date.info);
                                $('#dialogmag').fadeOut(300,function(){
                                    $('#dialohg').addClass('bounceOutUp').fadeOut();
                                });
                            }
                        });
                    }else {
                        $.MsgBox.Alert("消息", date.info);
                    }
                    return true;
                }
                else
                {
                    return false;
                }
            }
		});

		function check_total_price(){
			var total_price = $('#total_price').val().length;
			var number = $('#red_number').val().length;
			if(total_price==0 || number==0)
			{
				$.MsgBox.Alert("消息", "请输入红包数额或红包数量!");
				error_total_price = false;
				error_red_number = false;
			}
			else
			{
			    error_red_number = true;
				error_total_price = true;
			}
		}

		function check_interval(){
			var interval = $('#interval_time').val().length;
			if(interval==0)
			{
				$.MsgBox.Alert("消息", "请输入发放间隔时间!");
				error_interval_time = false;
			}
			else
			{
				error_interval_time = true;
			}
		}

		function check_day_time(){
            var len_start = $('#day_start').val().length;
            var len_end = $('#day_end').val().length;
            if(len_start==0 || len_end==0)
            {

                $.MsgBox.Alert("消息", "请输入日期!");
                error_day_start = false;
                error_day_end = false;
            }
            else
            {
                error_day_start = true;
                error_day_end = true;
            }
        }
	});
</script>
</body>
</html>