{% extends 'shop_base.html' %}

{% load extratags %}

{% block filter %}
    <form action="/run_manage/p_orderQuery_v2/" method="post" id="form_search">
        {% csrf_token %}
        <tr>
            <td width="16%" height="50" align="left" valign="middle" bgcolor="#F5F5F5"><strong style="color:#A0A0A0;padding-left:9%;white-space:nowrap;">商城管理 &gt; 礼包数据统计</strong></td>

            <td width="74%" align="left" valign="top" bgcolor="#F5F5F5" style="padding-top:10px;">
                <select name="channel" class="dowp_list_sty">
                    {% for key,value in chanel_info.items %}
                         <option value="{{ key }}" {% if channel == key %} selected {% endif %} >{{ value }}</option>
                    {% endfor %}
                </select>
                <input placeholder="请输入日期" id="start" class="laydate-icon" readonly value="{{start_day}}" onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" name="start_time">
                <input placeholder="请输入日期" id="end" class="laydate-icon" readonly value="{{end_day}}" onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" name="stop_time">
                <input type="text" class="text-box_normal" value="{{param_id}}" placeholder="" name="param_id" size="30" maxlength="20" />
                <input type="button" value="确认查询" class="button" id="query_data" />
                {% if page.paginator.num_pages %}
                    <input type="button" value="导出xls" class="button_color" id="order_xls_info" style="margin-left: 20px;"/>
                {% else %}
                    <input type="button" value="导出xls" class="button_color"  style="margin-left: 20px;background-color: #8b8a8a"/>
                {% endif %}
            </td>

            <td width="10%" align="center" valign="middle" bgcolor="#F5F5F5" class="w_update">
            </td>
        </tr>
    </form>
{% endblock filter %}

{% block body %}
    <tr>
        <th align="center" bgcolor="#EEEEEE">日期</th>
        <th align="center" bgcolor="#EEEEEE">渠道</th>
        <th align="center" bgcolor="#EEEEEE">礼包名称</th>
        <th align="center" bgcolor="#EEEEEE">礼包价格</th>
        <th align="center" bgcolor="#EEEEEE">购买次数</th>
        <th align="center" bgcolor="#EEEEEE">总金额</th>
        <th align="center" bgcolor="#EEEEEE">金额占比</th>
    </tr>
{% endblock body %}

{% block content %}
    {% for info  in page %}
        <tr id="hover_tr" bgcolor="#FFFFFF">
            <td align="center" valign="middle">{{info.createTime}}</td>
            <td align="center" valign="middle">{{info.createTime}}</td>
            <td align="center" valign="middle">{{info.period_pay}}</td>
            <td align="center" valign="middle">{{info.pay_total}}</td>
            <td align="center" valign="middle">{{info.deliverTime}}</td>
            <td align="center" valign="middle">{{info.deliverTime}}</td>
            <td align="center" valign="middle">{{info.deliverTime}}</td>
        </tr>
    {% endfor %}
{% endblock content %}